.env
.env.local
*.pyc
__pycache__/
.venv/
node_modules/
dist/
.idea/
.vscode/
*.log
google-services.json
service-account*.json
*.keystore
*.jks
.gradle/
build/
frontend/*.png
backend/*.log
local.properties
